@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@300;500;600&display=swap');

:root {
    /* fonts family */
    --font-main: 'Montserrat', sans-serif;
    --font-title: "Dela Gothic One", cursive;
  
    /* font weight */
    --font-light: 300;
    --font-medium: 500;
    --font-semibold: 600;
    --font-black: 900;
  
    /* Colors */
    --primary: #5a2ce2; 
    --secondary: #5a2ce26c;
  
    /* Dark color */
    --dark: #0f1115;
  
    /* Light color */
    --light: #cbd5e1;
  
    /* Media */
    --sm: 320px;
    --md: 640px;
    --lg: 1024px;
    --xl: 1280px;
  }
  * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    line-height: 1.3 !important;
  }
body {
    overflow-x: hidden !important;
    font-family: var(--font-main) !important;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  
  ::selection:not(img){
    @apply bg-primary text-white
  }

  img{
    user-select: none;
  }
  
  .blur-shape{
    @apply absolute z-10 opacity-70 dark:opacity-90
  }
  
  .overflow-hidden{
    overflow: hidden !important;
  }
  
  button, div[data-slot="input-wrapper"] {
    transition: none !important;
  }
  
  /**************************** Responsive design ****************************/
  
  .main-container, .store-container {
    width: 100%;
    margin: 0% auto;
  }
  
  @media (min-width: 768px) {
    .main-container, .store-container {
      max-width: var(--md);
    }
  }
  @media (min-width: 1024px) {
    .main-container, .store-container {
      max-width: var(--lg) 
    }
  }
  @media (min-width: 1280px) {
    .main-container {
      max-width: var(--xl)
    }
  }
  @media (min-width: 1024px) {
    .store-container {
      max-width: var(--lg) 
    }
  }
  @media (min-width: 1280px) {
    .store-container {
      max-width: 1380px
    }
  }
  
  /********************************** Navbar ***********************************/
  
  .nav-menu a {
    transition-property: opacity;
    @apply duration-300
  }
  
  .nav-menu:hover > :not(:hover) {
    @apply opacity-50
  }
  
  .nav-icon {
    width: 40px;
    height: 26px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .nav-icon span {
    @apply bg-primary dark:bg-white;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 150ms ease-out;
  }
  
  .nav-icon span:nth-child(1) {
    top: 8px;
    transform-origin: left center;
  }
  
  .nav-icon span:nth-child(2) {
    top: 15px;
    transform-origin: left center;
  }
  
  .nav-icon.open span:nth-child(1) {
    transform: rotate(35.5deg);
    width:45px ;
    top: 0px;
    left: 0px;
  }
  
  .nav-icon.open span:nth-child(2) {
   transform: rotate(-35.5deg);
    width:45px ;
    top: 26px;
    left: 0px;
  }
  
  .nav-open{
    height: 62px ;
  }
  
  @media (min-width: 1024px) {
    .nav-h{
      height: 72px !important;
    }
  }
  
  /*********************************** Header ***********************************/
  
  .search-button{
    @apply w-full md:w-fit py-6 md:pr-28 bg-white dark:bg-dark bg-opacity-60 dark:bg-opacity-50 backdrop-blur-xl capitalize text-dark dark:text-white cursor-pointer z-10 !important;
  }
  
  /******************************** Quick Links *********************************/
  
  .quick-links{
    @apply bg-white dark:bg-dark text-primary dark:text-white !important;
  }
  
  /********************************** Overview **********************************/
  
  .overview-image{
    @apply rounded-xl md:rounded-2xl lg:rounded-3xl 
  }
  
  /********************************** Reviews ***********************************/

  .review-avatar {
    background-color: transparent !important;
    border: none !important
  }
  /********************************** Dropdown **********************************/
  
  .dropdown{
    @apply min-w-fit !important;
  }
  
  /******************************** Audio player *******************************/
  .rhap_progress-section {
    @apply gap-2
  }
.rhap_container{
  @apply bg-transparent p-4 shadow-none absolute w-full bottom-0 !important;
}
.rhap_main{
  @apply flex-none !important;
}
.rhap_time{
  @apply text-primary !important;
}
.rhap_progress-bar, .rhap_progress-bar, .rhap_download-progress, .rhap_volume-bar, .rhap_volume-bar {
  @apply h-[3px] bg-violet-300 !important
}

.rhap_progress-indicator, .rhap_volume-indicator{
  @apply bg-primary w-3 h-3 -top-[5px] !important
}
.rhap_progress-filled, .rhap_volume-filled{
  @apply bg-primary !important
}
.rhap_additional-controls{
  @apply hidden !important
}
.audio .rhap_main-controls {
  position: absolute;
  top: -40% !important;
  left: 45% !important;
}
.audio-modal .rhap_main-controls {
  position: absolute;
  top: -110% !important;
  left: 47.5% !important;
}
.rhap_volume-controls{
  @apply justify-start !important;
}
.hide-controls .rhap_progress-section, .hide-controls .rhap_volume-controls{
  opacity: 0;
}
.show-controls .rhap_progress-section, .show-controls .rhap_volume-controls{
  opacity: 1;
}

/******************************** Video player *******************************/
.video-player video{
  height: 100% !important;
  object-fit: cover !important;
}

/******************************** Video player *******************************/
.account-menu [data-slot="tabList"] {
  @apply md:flex-col md:p-4 !important;
}
